@mixin font-size($size, $line-height: $size) {
  font-size: $size*1px;
  font-size: ($size / 10)*1rem;
  line-height: $line-height*1px;
  line-height: ($line-height / 10)*1rem;
}

@mixin font($family, $weight, $size, $line-height: $size) {
  font-family: $family;
  font-weight: $weight;
  @include font-size($size, $line-height);
}

@mixin thumbOverlay($colour: #fff) {
  border: 5px solid $colour;
  content: '';
  display: block;
  height: 69px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  width: 69px;
}
